*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f6f6 !important;
}

#nav-bar{
    position: static;
    top: 0;
    z-index: 0;
}

.navbar{
    background-image: linear-gradient(to right, #067706, #067706);
}

.navbar-brand{
    color: #e2e1e1 !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 15px;
    letter-spacing: 3px;
}

.navbar-nav{
    margin-left: auto;
}



.fa-bars{
    font-weight: 600;
    color: #ececec !important;
    outline: none !important;
}

.nav-item a{
    color: #e2e1e1 !important;
    font-weight: 600;
    font-size: 20px;
    transition-duration: 0.3s;
}

.nav-item a:hover{
    cursor: pointer;
    color: #f10808 !important;
}

.form-inline{
    display: flex;
    padding-top: 2px;
    margin-right: 15px;
    
}

.btn-warning{
    border-radius: 0% !important;
    padding: 8px 12px !important;
    background-color: red !important;
    border: none !important;
    font-weight: 700;
    color: #fff !important;
    font-size: 16px !important;
    transition-duration: 0.3s;
}

.btn-warning:hover{
    cursor: pointer;
    color: #000 !important;
    background-color:#fff !important;
}

.form-inline img{
    width: 30px;
    margin-left: 15px;
    margin-top: 4px;

}


#cart-total{
    display: block;
    text-align: center !important;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

/*****************Main section*********************/

#main-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.welcome{
    width: 100%;
}

.main .word{
    font-size: 24px;
    font-weight: 600;
}

/*****************Product section*********************/

#product{
    width: 100%;
}

#product img{
    width: 100%;
    height: 200px;
    box-shadow: 1px 3px 5px 2px rgba(rgb(51, 50, 50),);
}

.box-element{
    box-shadow: hsl(0, 0%, 80%) 0 0 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    
}


/*****************cart section*********************/

#cart-section{
    margin-top: 100px;
}

.cart-sect{
    width: 100%;
}

.cart-row{
    display: flex;
    align-items: stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.row-img{
    width: 70px;
}



.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}


.chg-quantity{
    cursor: pointer;
    width: 11px;
    display: block;
    margin-top: 2px;
    transition-duration: 1s;
}


/*****************Checkout section*********************/


#checkout-section{
    margin-top: 50px;
}

.checkout{
    width: 100%;
}



.form-field{
    padding: 5px;
    width: 250px;
    display: inline-block;
}

.hidden{
    display: none !important;
}

#form-button{
    width: 100%;
}

.btn-block{
    padding: 8px 150px;
}



.role{
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    flex-wrap: wrap;
    display: block;
    align-items: flex-start;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.box-elements{
    box-shadow: hsl(0, 0%, 80%) 0 0 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    
}